
.navbar {
    background-color: rgb(68 69 68);
    color: white;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    display: flex;
}

li {
    display: inline-block;
    padding-right: 20px;
}

li a {
    color: white;
    text-decoration: none;
}
li a:hover {
    color: #1f9e4b;
}

.btn-sign-in {
    background-color: #1f9e4b;
    color: #f0ecec;
    height: auto;
    width: auto;
    border-radius: 10px;
    border-color: white;
    font-size: 2rem;
    padding: 12px;
    margin-left: 2rem;
    float: right;
}

.btn-sign-in a {
    text-decoration: none;
    color: #f0ecec;
}

.icon {
    height: 3rem;
    width: 3rem;
}

.business-name {
    padding-left: 5px;
    color: white;
    margin-right: 4rem;
}
.business-name:hover {
    color: #1f9e4b;
}