
.main-content {
    background-color: rgb(218, 215, 203);
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    min-height: 26rem;
    display: flex;
}